@charset 'UTF-8';

:root {
    --blue-dark: #070a4e;
    --blue-medium: #252872;
    --blue-light: #646693;
    --red: #e32934;
    --white: #ffffff;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue-dark);
    color: var(--white);
    height: 100vh;
}

main {
    width: 100%;
    max-width: 1120px;
    margin: 72px auto 0;
    padding: 0 16px;
    display: flex;
}

body, button, input, textarea {
    font: 400 16px 'Rubik', sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}


.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1120px;
    margin: 0 auto;
    padding: 15px 16px;
}

.header-navigation-container {
    display: flex;
    gap: 25px;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-navigation > li {
    font-family: 'Inter', sans-serif;

}

.header-navigation > li.active {
    font-weight: 600;
}

.header-navigation > li > a {
    padding: 10px;
}

.purchase-button {
    font: 500 12px 'Inter';
    background-color: transparent;
    color: var(--white);
    padding: 16px 32px;
    border: 2px solid var(--white);
    border-radius: 50px;
    transition: backgroubd-color 0.3s, border-color 0.3s;
}

.purchase-button:hover {
    background-color: var(--red);
    border-color: var(--red);
}

.main-section {
    max-width: 645px;
    padding-left: 40px;
}

.main-title {
    font-weight: 500;
    font-size: 40px;
}

.main-description {
    margin-top: 18px;
    font-weight: 300;
}

.nutritional {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title-nutri {
    font-weight: 500;
    text-transform: uppercase;
}

.nutri-itens {
    display: flex;
    gap: 15px;
}

.nutri-itens > li {
    width: 7.3125rem;
    
}

.nutri-itens > li > div {
    padding: 20px 0;
    background-color: var(--blue-medium);

    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.nutri-itens > li > div > strong {
    font-weight: 600;
    font-size: 24px;
}

.nutri-itens > li > footer {
    padding: 10px 0;
    background-color: var(--blue-light);

    display: flex;
    justify-content: center;
}

.nutri-detail {
    font-weight: 300;
    font-size: 14px;
    max-width: 70%;
}

.nutri-button {
    margin-top: 4rem;
}

.pepsi-img {
    flex: 1;
    position: relative;
}

.little-can {
    position: absolute;
    bottom: 0;
    right: 202px;
}

.large-can {
    position: absolute;
    bottom: 0;
    right: 0;
}

.shadow {
    position: absolute;
    right: 0;
    top: 86%;
    z-index: -1;
}

.info-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 6.87rem;

    background-color: var(--blue-light);
    padding-bottom: 0.625rem;
}

.info-bottom > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 12px;
    background-color: var(--blue-medium);
}

.info-bottom > div > strong {
    font-weight: 500;
    font-size: 23px;
}

.info-bottom > div > small {
    margin: 2px 0 10px;
    font-size: 12px;
    font-weight: 300;
}

.info-bottom > div > span {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}